<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-zendesk" version="1.0.0">
  <name>Cordova Zendesk Plugin</name>
  <description>Cordova plugin for integrating with Zendesk</description>

  <dependency id="cordova-plugin-cocoapod-support" />

  <js-module src="www/Zendesk.js" name="Zendesk">
    <clobbers target="Zendesk" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Zendesk">
        <param name="ios-package" value="Zendesk" />
      </feature>
    </config-file>

    <pod name="ZendeskSDK" version="~> 3.0.1" />

    <header-file src="src/ios/Zendesk.h" />
    <source-file src="src/ios/Zendesk.m" />
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Zendesk">
        <param name="android-package" value="com.rarestep.zendesk.Zendesk" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name="zendesk.support.guide.HelpCenterActivity"
        android:theme="@style/Base.Theme.AppCompat" />
      <activity
        android:name="zendesk.support.guide.ViewArticleActivity"
        android:theme="@style/Base.Theme.AppCompat" />
      <activity
        android:name="zendesk.support.requestlist.RequestListActivity"
        android:theme="@style/Base.Theme.AppCompat" />
      <activity
        android:name="zendesk.support.request.RequestActivity"
        android:theme="@style/Base.Theme.AppCompat" />
    </config-file>

    <source-file src="src/android/Zendesk.java" target-dir="src/com/rarestep/zendesk" />

    <framework src="src/android/zendesk.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>
